@tailwind base;
@tailwind components;
@tailwind utilities;

/* flip helpers */
.perspective { perspective: 1000px; }
.rotate-y-180 { transform: rotateY(180deg); }
.backface-hidden { backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.transform-style-preserve-3d { transform-style: preserve-3d; }
